<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form method="post" class="form-group">
                    {% csrf_token %}
                    <label for="username">帳號:</label>
                    <input type="text" id="username" name="username" class="form-control">
                    <label for="password">密碼:</label>
                    <input type="password" id="password" name="password" class="form-control">
                    <button type="submit" class="btn btn-primary mt-3">登入</button>
                </form>
                {% if error %}
                    <p class="text-danger">{{ error }}</p>
                {% endif %}
                <a href="{% url 'register' %}" class="btn btn-primary mt-3">註冊</a>
            </div>
        </div>
    </div>
</body>
</html>